[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XBMC
Comment=XBMC
Exec=/usr/local/bin/xbmc
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

