@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /* WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw used to Check for Max2Play Network Player */
  src: local('Open Sans'), local('OpenSans'), url(/css/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/css/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/css/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/css/PRmiXeptR36kaC0GEAetxoUt79146ZFaIJxILcpzmhI.woff) format('woff');
}

html, body, div, span,  h1, h2, h3, h4, h5, h6, p, img, header, hgroup, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

ol, ul {
    list-style: none outside none;
    padding: 0;
}

html {
    font-size: 87.5%;    
    overflow-y: scroll;
}

a {
    color: #21759B;
    outline: medium none;
}
header, #main, footer {	
	padding: 0 15px;
	margin:auto;
    max-width:80rem;
    /*box-shadow: 0 6px 6px rgba(100, 100, 100, 0.3);*/
    background-color: #fff;
}
header {
	height: 100px;
    padding-top: 15px;
}
#main {padding-top:20px;}

body {
    color: #444444;    
    font-size: 1rem;
    text-rendering: optimizelegibility;
    font-family: "Open Sans",Arial,Helvetica,Tahoma,sans-serif;    
    line-height: 1.1;    
}

#page {        
    overflow: hidden;    
}

.logo {
	background: url("/images/logo-small.png") no-repeat scroll left top transparent;
	width: 200px;
	height:80px;
	display: block;
	overflow:hidden;
	margin: 0 0 20px;
	float:left;
}

.chooseplayer {
	float:right;	
}

.entry-header {
	color: #21759B;
	font-size: 1.6rem;
	line-height: 1.3;
	font-weight:normal;
	padding-bottom:15px;
}


.navigation {    
    text-align: center;
    display: block;
    clear: both;
    background-color: #fff;
}

.navigation ul.nav-menu, .navigation div.nav-menu > ul {    
    display: inline-block !important;    
    max-width: 80rem;    
    padding: 0 15px;
}
.navigation ul.nav-menu, .navigation div.nav-menu > ul {
    display: none;
}
.navigation ul {    
    text-indent: 0;    
    background: #ffffff none repeat scroll 0 0;    
}
.nav-menu {min-height:40px;border-bottom: 2px solid #EDEDED;
    border-top: 1px solid #EDEDED;}
.navfixed {
	background: #ffffff none repeat scroll 0 0;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navigation li {    
    margin: 0 1.4rem 0 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.42857;   
}
.navigation a {
    color: #5E5E5E;
}
.navigation .current {
	font-weight:bold;
	color: #21759b;
	letter-spacing: -0.2px;
}
.navigation li a {
    border-bottom: 0 none;
    color: #6A6A6A;
    line-height: 2.69231;    
    white-space: nowrap;
}
a:hover, .navigation li a:hover {    
    color: #21759b;
}
.navigation li a, .navigation li {
    display: inline-block;
    text-decoration: none;
}
.wrapper {
	padding-top:20px;
}
.site-content {
    float: left;
    width: 65%;
}

.widget-area {
    float: right;
    width: 26%;
}

.clear:before, .clear:after, .wrapper:before, .wrapper:after {
    content: "";
    display: table;
    clear:both;
}

.divider {border-top: 1px solid #ededed; margin-top:10px;}
.invisible {display:none;}

.widget-title {
    color: #636363;
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 2.2;
    text-transform: uppercase;
}


.widget-area .widget p, .widget-area .widget li, .widget-area {
    font-size: 0.9rem;
    line-height: 1.8;
    color: #636363;
}

.widget-area a {
    color: #757575;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
}

input[type="submit"], input[type="button"], input[type="reset"] {
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #F4F4F4, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #D2D2D2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7C7C7C;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.4;
    padding: 0.4rem 0.7rem;    
}
.entry-content {
	line-height: 1.3em;
}
.settings td {
	vertical-align: top;
}

.description {
    list-style: outside circle;
    padding-left: 20px;
}

.boldorderedlist {
	font-weight: bold;
    list-style: inside decimal;
}
.boldorderedlist li {margin-bottom:10px;}
.boldorderedlist li span { font-weight: normal; }

.chooseplayer {max-width:140px;}

.small {font-size:0.8em;}

.ui-state-highlight {word-wrap:break-word;}

.aligncenter {
    display: block;
    margin: 5px auto;
}
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto;
}
.optiondetails {
	padding: 10px; border: 1px dotted; margin: 10px;
}
.optiondetails td {	
	border-bottom: 1px dashed;
    padding-bottom: 15px;
    padding-top: 5px;
}
.headerinfo {float:right;max-width: 160px;}

.download-button {
    background-color: #09c;
    background-image: linear-gradient(#009fd4, #09c, #0086b2);
    border: 1px solid #0086b2;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0.75em 1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.download-button:hover{color:#fff;background-color:#09c;background-image:-webkit-linear-gradient(#09c,#0086b2);background-image:-moz-linear-gradient(#09c,#0086b2)}

.guide li::before {
    background: url("/css/ui-lightness/images/ui-icons_228ef1_256x240.png") no-repeat scroll -16px -144px rgba(0, 0, 0, 0);
    content: " ";
    float: left;
    height: 20px;
    margin: 3px 0 0 -20px;
    width: 20px;
}

@media only screen 
and (max-width : 800px) 
{ 
   .logo {
       background: url("/logo_k.png") no-repeat scroll left top transparent;
       width: 140px;
       height: 65px;
   }
   .widget-area {
       float: none;
       width: 100%;
   }
   .widget-title {
   	   margin-top:20px;
   }
   .site-content {
       float: none;
       width: 100%;
   }
   .navigation li a {
   	   line-height: 2;
   }
   .navigation li {
   	   margin: 0 0.5rem 0 0;
   }
   #page {
   	   margin: 0 auto;
   }
   input[type="text"] {
   	   width: 40px;
   }
   header, #main, footer {
   	   padding: 0 0.8rem;
   }
   .headerinfo {font-size:0.8em;}
   
   #toppicture {display:none;}
}
@media only screen 
and (max-width : 450px) 
{ 
	.logo2 {display:none;}
	#scrollingnav {position:relative !important;}
	#hiddennav {display:none !important;}
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/css/wait.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.button-small {
    background-color: #09c;
    background-image: linear-gradient(#009fd4, #09c, #0086b2);
    border: 1px solid #0086b2;
    border-radius: 4px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;*/
    color: #fff !important;
    cursor: pointer;
    display: inline;
    font-size: 1.0em;
    line-height: 1.0em;
    padding: 0.4em 0.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.button-small:hover{color:#fff;background-color:#09c;background-image:-webkit-linear-gradient(#09c,#0086b2);background-image:-moz-linear-gradient(#09c,#0086b2)}

.positive li, .negative li {list-style: none;}
.positive li:before {
	background: url(/css/ui-lightness/images/ui-icons_228ef1_256x240.png) no-repeat left top; 
	background-position: -16px -126px; 
	margin-left: -20px;
	margin-top:3px;
    padding: 0 0 0 18px;
    content: "";
}
.negative li:before {
	background: url(/css/ui-lightness/images/ui-icons_228ef1_256x240.png) no-repeat left top; 
	background-position: -48px -126px; 
	margin-left: -20px;
	margin-top:3px;
    padding: 0 0 0 18px;
    content: "";
}

#toppicture {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto !important;
    border-style: none !important;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    height: auto;
    left: 0;
    margin: 0 0 0 0 !important;     
    max-height: 160px;
    padding: 12% 0 0 !important;    
    width: 100%;
}