html, body, div, span,  h1, h2, h3, h4, h5, h6, p, img, header, hgroup, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

ol, ul {
    list-style: none outside none;
    padding: 0;
}

html {
    font-size: 87.5%;    
    overflow-y: scroll;
}

a {
    color: #21759B;
    outline: medium none;
}

body {
    color: #444444;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1rem;
    text-rendering: optimizelegibility;
    background-color: #E6E6E6;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 1;
}

#page {
    background-color: #FFFFFF;    
    overflow: hidden;
    margin: 0 auto;
    max-width: 68.5rem;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    margin-bottom: 3.42857rem;
    margin-top: 3.42857rem;
    padding: 0 2.85714rem;
    
}

.logo {
	background: url("/logo.png") no-repeat scroll left top transparent;
	width: 278px;
	height:120px;
	display: block;
	overflow:hidden;
	margin: 0 0 20px;
	float:left;
}

.chooseplayer {
	float:right;	
}

.entry-header {
	color: #21759B;
	font-size: 1.6rem;
	line-height: 1.2;
	font-weight:normal;
	padding-bottom:15px;
}


.navigation {
    margin-top: 1.7rem;
    text-align: center;
    display: block;
}

.navigation ul.nav-menu, .navigation div.nav-menu > ul {
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    display: inline-block !important;
    text-align: left;
    width: 100%;
}
.navigation ul.nav-menu, .navigation div.nav-menu > ul {
    display: none;
}
.navigation ul {
    margin: 0;
    text-indent: 0;
}

.navigation li {    
    margin: 0 2.85714rem 0 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 0.857143rem;
    line-height: 1.42857;   
}
.navigation a {
    color: #5E5E5E;
}
.navigation .current {
	font-weight:bold;
}
.navigation li a {
    border-bottom: 0 none;
    color: #6A6A6A;
    line-height: 3.69231;
    text-transform: uppercase;
    white-space: nowrap;
}
.navigation li a, .navigation li {
    display: inline-block;
    text-decoration: none;
}
.wrapper {
	padding-top:20px;
}
.site-content {
    float: left;
    width: 65%;
}

.widget-area {
    float: right;
    width: 26%;
}

.clear:before, .clear:after, .wrapper:before, .wrapper:after {
    content: "";
    display: table;
    clear:both;
}

.widget-title {
    color: #636363;
    font-size: 0.78rem;
    font-weight: bold;
    line-height: 2.2;
    text-transform: uppercase;
}


.widget-area .widget p, .widget-area .widget li, .widget-area {
    font-size: 0.9rem;
    line-height: 1.8;
    color: #636363;
}

.widget-area a {
    color: #757575;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
}

input[type="submit"], input[type="button"], input[type="reset"] {
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #F4F4F4, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #D2D2D2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7C7C7C;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.4;
    padding: 0.4rem 0.7rem;
}
.entry-content {
	line-height: 1.2em;
}
.settings td {
	vertical-align: top;
}