[Unit]
Description=hostapd
After=network.target remote_fs.target

[Service]
Type=forking
PIDFile=/var/run/hostapd.pid
#ExecStartPre=/bin/sleep 5
ExecStart=/usr/sbin/hostapd -B -P /var/run/hostapd.pid /etc/hostapd/hostapd.conf -d
# Additional Configure Parameters to WiFi
ExecStartPost=/sbin/ifconfig wlan0 192.168.189.1
#/bin/ip route add default via 192.168.189.1 dev wlan0
ExecStartPost=-/sbin/iptables-restore < /etc/hostapd/iptables.ap
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
